/ltximg/
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
*.R#
*.org_archive
/deSolve.org
/imgs/
/out/
/snvec-3.7.5/
/snvec-julia.org
inst/doc
/doc/
/Meta/
docs
/snvecR_todo.org
/ZeebeLourens2022_fig1.png
